<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="name">app</property>
        <property name="pattern">%d{yyyy-MM-dd HH:mm:ss}| %-5.5p|%-30.30C::%-30.30M:%-5.5L| %msg%n</property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        <RollingFile name="RollingFileAppender"  fileName="./log/${name}.log"
                     filePattern="./log/$${date:yyyy}/$${date:MM}/$${date:dd}/${name}_%d{yyyyMMddHH}.log">
            <PatternLayout>
                <!-- 날짜, 로그 레벨, 로거 이름, 라인 번호, 메시지 등의 정보를 포함합니다. -->
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <!-- interval=1 (매일), modulate=true (정각) -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10000"/>
        </RollingFile>
    </Appenders>





    <Loggers>
        <Logger name="kr.or.woniProject" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <Logger name="jdbc.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <!--        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">-->
        <!--            <AppenderRef ref="console" />-->
        <!--            <AppenderRef ref="RollingFileAppender"/>-->
        <!--        </Logger>-->
        <Logger name="egovframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <!--  SQL 결과 조회된 데이터의 table을 로그로 남긴다.(빼도됨) -->

        <Logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <!-- ResultSet을 제외한 모든 JDBC 호출 정보를 로그로 남긴다. 많은 양의 로그가 생성되므로 특별히 JDBC 문제를 추적해야 할 필요가 있는 경우를 제외하고는 사용을 권장하지 않는다.-->
        <!--        <Logger name="jdbc.audit" additivity="false">-->
        <!--            <level value="WARN"/>-->
        <!--            <appender-ref ref="console"/>-->
        <!--        </Logger>-->
<!--                <Root level="INFO">-->
<!--                    <AppenderRef ref="console" />-->
<!--                    <AppenderRef ref="RollingFileAppender"/>-->
<!--                </Root>-->
    </Loggers>
</Configuration>
